<div class="comments">
  <p>コメント件数：<%= post.post_comments.count %></p>
  <% post.post_comments.each do |post_comment| %>
    <%= attachment_image_tag post_comment.user, :profile_image, format: 'jpeg', fallback: 'no_image.jpeg', size:'50x50' %>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to "削除", post_post_comment_path(post_comment.post,post_comment), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="new-comment">
  <%= form_with(model:[post,post_comment], remote: true) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %><br />
    <%= f.submit "コメントする" %>
  <% end %>
</div>