<div class="comments">
  <p>コメント件数：<%= post.post_comments.count %></p>
  <% post.post_comments.each do |post_comment| %>
      <div class="comment-group row">
        <div class="col-md-2">
          <%= attachment_image_tag post_comment.user, :profile_image, format: 'jpeg', fallback: 'no_image.jpeg', size:'25x25', class:"rounded-circle"; %>
        </div>
        <div class="col-md-10">
          <p class="text-secondary">
          <%= post_comment.user.name %> ・
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </p>
          <h6><%= post_comment.comment %></h6>
          <% if post_comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", post_post_comment_path(post_comment.post,post_comment), method: :delete, remote: true, class: 'text-info' %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="new-comment">
  <%= form_with(model:[post,post_comment], remote: true) do |f| %>
  <div class="comment-group row">
    <div class="col-md-12">
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", id: "text_area", class: "col-md-10 text-secondary border-dark" %>
    </div>
    <div class="col-md-12">
    <%= f.submit "コメントする", class: 'btn btn-success btn-sm' %>
    </div>
  <% end %>
  </div>
</div>