<div class="profile-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-2">
  <span class="profile-name display-4">
    <%= user.name %><br />
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class:"rounded-circle"; %>
    <p><%= link_to icon("fas", "user-cog"), edit_user_path(user), class:"btn btn-outline-secondary ml-4" %></p>
  </span>
  <div class="">
  </div>
    <div class="mt-auto">
      <span>
        <% if current_user != user %>
          <%= link_to "チャットする", chat_path(user.id) %>
        <% end %>
      </span><br />
      <span><%= link_to "フォロー数：#{user.follower.count}", followings_user_path(user.id) %>
      /
      <%= link_to "フォロワー数：#{user.followed.count}", followers_user_path(user.id) %>
      </span><br />
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :post %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :post %>
        <% end %>
      <% end %>
    </div>
</div>