<h1>プロフィール編集</h1>
<%= form_with model: @user, local: true do |f| %>
  <p>name</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <%= f.attachment_field :profile_image %>
  <p>Caption</p>
  <%= f.text_area :introduction %><br />
  <%= f.submit "Update" %>

<% end %>
