<div class="container row mx-auto">
  <div class="profile-edit mx-auto text-center bg-light py-4 px-3 col-md-6 rounded">
    <h4 class="profile-edit-title mb-4 px-3 py-2 rounded"><mark class="mark-color">プロフィール編集</mark></h4>
    <h5 class="mb-3">こちらでプロフィール編集ができます</h5>
    <%= form_with model: @user, local: true do |f| %>

      <div class="form-group row">
        <%= f.label :"名前", class: "col-sm-4 control-label" %>
        <%= f.text_field :name, class: "col-sm-6 form-control-static name" %>
      </div>

      <div class="form-group row">
        <%= f.label :"画像", class: "col-sm-4 control-label" %>
        <%= f.attachment_field :profile_image, class: "col-sm-8 form-control-static image" %>
      </div>

      <div class="form-group row">
        <%= f.label :"紹介文", class: "col-sm-4 control-label" %>
        <%= f.text_area :introduction, rows: '5', class: "col-sm-6 form-control-static introduction" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>

    <% end %>
  </div>
</div>
