<div class="chat-room container row mx-auto my-3">
    <div class="room mx-auto text-center bg-light py-4 px-3 my-3 col-md-7">
      <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h2>

                 <%= @user.name %>
                 <%= current_user.name %>
        <div class="room-body">
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
                    <p style="text-align: right;">
                      <span class="chat-right p-2 mr-5"><%= chat.message %></span>
                    </p>
            <% else %>
                    <p style="text-align: left;">
                      <span class="ml-5"><%= attachment_image_tag chat.user, :profile_image, format: 'jpeg', fallback: 'no_image.jpeg', size:'30x30', class:"mt-3 rounded-circle"; %></span>
                      <span class="chat-left p-2 ml-1"><%= chat.message %></span>
                    </p>
            <% end %>
          <% end %>
        </div>
          <%= form_with model: @chat do |f| %>
            <%= f.text_field :message %>
            <%= f.hidden_field :room_id %>
            <%= f.submit "送信" %>
          <% end %>
    </div>
</div>