<div class="top">
  <div class="top-img">
    <span><%= image_tag 'campmeshi.jpg', class: 'top-image' %></span>
    <span><%= image_tag 'top-2.jpg', class: 'top-image' %></span>
    <span><%= image_tag 'top-3.jpg', class: 'top-image' %></span>
    <span><%= image_tag 'top-5.jpg', class: 'top-image' %></span>
    <span><%= image_tag 'top1.jpg', class: 'top-image' %></span>
  </div>
  <p class="title">nora-ca</p>
  <div class="title-btn">
    <% if user_signed_in? %>
    <% else %>
      <span class="title-btn-1 mr-3"><%= link_to 'ログイン', new_user_session_path, class: 'btn btn--orange btn--cubic btn--shadow' %></span>
      <span class="title-btn-2 mr-3"><%= link_to '新規登録', new_user_registration_path, class: 'btn btn--orange btn--cubic btn--shadow' %></span>
    <% end %>
  </div>
</div>

<div class="top-about">
  <h2 class="heading text-center pt-5">nora-campとは？</h2>
  <div class="top-about-logo">
      <p class="heading-text text-center pt-2">
        キャンプ好き・アウトドア好きの為の投稿サイト
      </p>
    <div class="strength-group container row col-md-12 pt-3">
      <div class="strength text-center col-md-6">
        <div class="row">
          <div class="col-md-5"><%= image_tag 'top-logo.PNG', size:'200x150' %></div>
          <div class="col-md-7">
          <h3 class="strength-title">新たな発見</h3>
          <p class="strength-text">
            投稿から興味のあるキャンプ情報を検索<i class="far fa-hand-point-up"></i><br />
            興味が湧いてきたらキャンプへGO！<br />
            帰ってきたら自分も投稿してみよう！！
          </p>
          </div>
        </div>
      </div>
      <div class="strength text-center col-md-6">
        <div class="row">
          <div class="col-md-5"><%= image_tag 'people2.JPG', size:'180x150' %></div>
          <div class="col-md-7">
            <h3 class="strength-title">交流の場</h3>
            <p class="strength-text">
              気になる投稿があれば<br />
              チャット機能で繋がろう！<br />
              新しい仲間達と素敵なキャンプライフを。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-logo">
  <div class="top-logo-child">
  　<h2 class="heading text-center pt-5">楽しいを見つけてみよう<span></h2>
    <div class="strength-img-group text-center container row col-md-12 pt-5">
      <div class="strength-img col-md-4">
        <p>キャンプ場</p>
        <%= image_tag 'campjyo.jpg', size:'250x150' %>
      </div>
      <div class="strength-img col-md-4">
        <p>キャンプ飯</p>
        <%= image_tag 'campmeshi.jpg', size:'250x150' %>
      </div>
      <div class="strength-img col-md-4">
        <p>焚き火</p>
        <%= image_tag 'takibi.JPG', size:'250x150' %>
      </div>
    </div>
  </div>
</div>

<div class="top-logo-2 pb-5">
  <div class="top-logo-child-2">
    <div class="strength-img-group text-center container row col-md-12 pt-3">
      <div class="strength-img col-md-4">
        <p>テント</p>
        <%= image_tag 'tento.jpg', size:'250x150' %>
      </div>
      <div class="strength-img col-md-4">
        <p>ギア</p>
        <%= image_tag 'gia.png', size:'250x150' %>
      </div>
      <div class="strength-img col-md-4">
        <p>DIY</p>
        <%= image_tag 'diy.jpg', size:'250x150' %>
      </div>
    </div>
  </div>
</div>

<div class="top-last text-center pb-5">
  <h1 class="top-last-child">さあ<span class="top-last-child-2">野良で遊ぼう・・・。</span></h1>
</div>