<div class="post-body mx-auto">
  <div class="show-card card mx-auto mt-1 shadow-lg" style="width: 30rem;">
    <div class="show-image">
      <% if @post.post_images.present? %>
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, format: 'jpeg', fallback: 'no_image.jpeg', size:'200x200', class: 'c-img card-img-top' %>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="form-group row">
      <p class="show-title col-md-5">投稿者</p>
        <span class="col-md-7"><%= @post.user.name %></span>
      </div>

      <div class="form-group row">
      <p class="show-title col-md-5">タイトル</p>
        <span class="col-md-7"><%= @post.title %></span>
      </div>

      <div class="form-group row">
      <p class="show-title col-md-5">内容</p>
        <span class="col-md-7"><%= render_with_hashtags(@post.caption) %></span>
      </div>

      <div class="form-group row">
      <p class="show-title col-md-5">投稿日時</p>
        <span class="col-md-7"><%= @post.created_at.strftime('%Y/%m/%d') %></span>
      </div>
        <% if @post.user == current_user %>
          <span class="h4">
            <%= link_to icon("fas", "trash-alt"), post_path(@post.id), method: :delete, class: 'float-right text-info' %>
            <%= link_to icon("fas", "edit"), edit_post_path(@post.id), class: "float-right text-success" %>
          </span>
        <% end %></br>
        <div id="favorites_buttons_<%= @post.id %>">
          <%= render partial: 'favorites/favorite', locals: { post: @post} %>
        </div>
        <div class="comments_<%= @post.id %>">
          <%= render 'post_comments/comment', post: @post, post_comment: @post_comment %>
        </div>
      </div>
    </div>
</div>

