<!DOCTYPE html>
<html>
  <head>
    <title>NoraCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          <a class="navbar-brand text-white" href="/">nora-camp</a>
          <button class="navbar-toggler" type="button" date-toggle="collapse" date-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to 'MyPage', user_path(current_user.id), class:"text-white mr-2" %>
            </li>
            <li>
              <%= link_to 'Users', users_path, class:"text-white mr-2" %>
            </li>
            <li>
              <%= link_to '投稿一覧', posts_path, class:"text-white mr-2" %>
            </li>
            <li>
              <%= link_to '投稿フォーム', new_post_path, class:"text-white mr-2" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-white" %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class:"text-white mr-2" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
