<!DOCTYPE html>
<html>
  <head>
    <title>NoraCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#A9A9A9;">
        <div class="container">
          <a class="navbar-brand text-white" href="/"><%= image_tag 'header-1.JPG', size:'190x65' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to icon("fas", "search", "検索"), search_searching_path, class:"text-white mr-3" %>
            </li>
              <%= link_to icon("fas", "house-user", "マイページ"), user_path(current_user.id), class:"text-white mr-3" %>
            </li>
            <li>
              <%= link_to icon("fas", "users", "ユーザー一覧"), users_path, class:"text-white mr-3" %>
            </li>
            <li>
              <%= link_to icon("fas", "book-reader", "投稿一覧"), posts_path, class:"text-white mr-3" %>
            </li>
            <li>
              <%= link_to icon("fas", "edit", "投稿フォーム"), new_post_path, class:"text-white mr-3" %>
            </li>
            <li>
              <%= link_to icon("fas", "sign-out-alt", "ログアウト"), destroy_user_session_path, method: :delete, class:"text-white" %>
            </li>
          <% else %>
            <li>
              <%= link_to icon("fas", "plus", "新規登録"), new_user_registration_path, class:"text-white mr-3" %>
            </li>
            <li>
              <%= link_to icon("fas", "sign-in-alt", "ログイン"), new_user_session_path, class:"text-white mr-3" %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="text-center pb-5 pt-5"><%= image_tag 'footer4.JPG', size:'250x20' %></span>
    </footer>
  </body>
</html>
